<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Kmail</title>
    <link rel="shortcut icon" href="/images/k.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/basestyle.css">
    <link rel="stylesheet" href="/css/indexstyles.css">
    <script src="https://kit.fontawesome.com/804ea2455c.js" crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark" th:fragment="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/k.png" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{users/login}" th:text="#{login}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/register}" th:text="#{registration}"></a>
                    </li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/emails/send}" th:text="#{sendEmail}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/emails/inbox}" th:text="#{inbox}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/emails/sent}" th:text="#{sent}"></a>
                    </li>
                    <form class="nav-item" th:action="@{/users/logout}" th:method="post">
                        <input class="nav-link bg-transparent border-0" type="submit" th:value="#{logout}">
                    </form>
                </th:block>
            </ul>
            <form class="d-flex">
                <i class="fas fa-globe mt-1 me-2 " id="language-icon"></i>
                <select
                        onchange="this.form.submit()"
                        id="lang"
                        name="lang">
                    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                </select>
            </form>
        </div>
    </div>
</nav>

<footer class="container-fluid" th:fragment="footer">
    <div class="row text-white my-2 mx-1">
        <a class="footer-icon col-2 col-lg-1" href="https://github.com/Goshenkata/Kmail/"> <i class="fab fa-github"></i></a>
        <p th:utext="#{copyright}" class="col-6 col-lg-5 ms-4">
        </p>
    </div>
</footer>

<th:block th:fragment="scripts">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</th:block>

</body>
</html>