<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body class="bg-dark">
<nav th:replace="fragments/commons::nav">
</nav>

<main>
    <table th:unless="${isEmpty} " class="table table-dark table-hover">
        <tbody>
        <tr th:each="email: ${emails}"
            th:object="${email}"
            th:classappend="*{isRead} or ${isSent}? text-secondary : fw-bold"
            th:attr="onclick=|openEmail(*{id})|"
            id="tableRow"
        >

            <td th:text="*{from}"></td>
            <td colspan="2" th:text="*{title}"></td>
            <td th:text="*{date}">Otto</td>

        </tr>
        </tbody>
    </table>
    <h1 class="text-center text-light" th:if="${isEmpty}" th:text="#{inboxEmpty}"></h1>
</main>

<footer th:replace="fragments/commons::footer">
</footer>

<th:block th:replace="fragments/commons::scripts">
</th:block>
<script th:src="@{/js/inbox.js}"></script>

</body>
</html>