<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body class="bg-dark">
<nav th:replace="fragments/commons::nav">
</nav>

<main class="container-fluid d-flex justify-content-center">
    <form class="text-light col-6 container-fluid"
          th:action="@{/users/register}"
          th:method="post"
          th:object="${userRegistrationBindingModel}"
    >
        <h1 class="text-center fw-bold" th:text="#{registration}"></h1>
        <!--EMAIL-->
        <div class="form-group mb-2">
            <label for="username" th:text="#{emailInput}"></label>
            <div class="my-2 ">
                <input
                        class="p-1 rounded col-10 "
                        id="username"
                        th:placeholder="#{emailPlaceholder}"
                        th:field="*{username}"
                        th:errorclass="is-invalid">
                <small class="col-2">@kmail.com</small>
                <p class="invalid-feedback errors alert alert-danger" th:text="#{invalidEmailInput}"></p>
                <!--The username must not contain special characters like @-->
                <p class="errors alert alert-danger" th:text="#{specialCharacters}" th:if="${containsSpecialChars}"></p>
                <p class="errors alert alert-danger" th:text="#{emailTaken}" th:if="${usernameTaken}"></p>
            </div>
        </div>

        <!--PASSWORD-->
        <div class="form-group mb-2">
            <label for="password" th:text="#{password}"></label>
            <input type="password"
                   class="my-2 form-control"
                   id="password"
                   th:field="*{password}"
                   th:errorclass="is-invalid"
                   th:placeholder="#{password}">
            <p class="invalid-feedback errors alert alert-danger" th:text="#{invalidPassword}"></p>
        </div>

        <!--CONFIRM PASSWORD-->
        <div class="form-group mb-2">
            <label for="password" th:text="#{confirmPassword}"></label>
            <input type="password"
                   class="my-2 form-control is-invalid"
                   id="confirmPassword"
                   th:field="*{confirmPassword}"
                   th:errorclass="is-invalid"
                   th:placeholder="#{retype}">
            <p class="errors alert alert-danger" th:text="#{invalidConfirmPassword}" th:if="${passwordsRepeated}"></p>
        </div>

        <!--FIRST NAME-->
        <div class="form-group mb-2">
            <label for="firstName" th:text="#{firstName}"></label>
            <input
                    id="firstName"
                    class="my-2 form-control "
                    th:field="*{firstName}"
                    th:errorclass="is-invalid"
                    th:placeholder="#{yourFirstName}">
            <p class="invalid-feedback errors alert alert-danger" th:text="#{invalidName}"></p>
        </div>

        <!--LAST NAME-->
        <div class="form-group mb-2">
            <label for="lastName" th:text="#{lastname}"></label>
            <input
                    id="lastName"
                    class="my-2 form-control "
                    th:field="*{lastName}"
                    th:errorclass="is-invalid"
                    th:placeholder="#{yourLastName}">
            <p class="invalid-feedback errors alert alert-danger" th:text="#{invalidName}"></p>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{register}"></button>
    </form>
</main>

<footer th:replace="fragments/commons::footer">
</footer>

<th:block th:replace="fragments/commons::scripts">
</th:block>

</body>
</html>