<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body class="bg-dark">
<nav th:replace="fragments/commons::nav">
</nav>

<main class="container-fluid d-flex justify-content-center">
    <form class="text-light"
          th:action="@{/users/register}"
          th:method="post"
          th:object="${userRegistrationBindingModel}"
    >
        <!--EMAIL-->
        <div class="form-group mb-2">
            <label for="username" th:text="#{emailInput}"></label>
            <input
                   class="form-control"
                   id="username"
                   th:placeholder="#{emailPlaceholder}"
                   th:field="*{username}"
                   th:errorclass="is-invalid">
            <small>@kmail.com</small>
            <span class="bg-danger" th:text="#{invalidEmailInput}"></span>
            <!--The username must not contain special characters like @-->
            <span class="bg-danger" th:text="#{specialCharacters}"></span>
            <span class="bg-danger" th:text="#{emailTaken}"></span>
        </div>

        <!--PASSWORD-->
        <div class="form-group mb-2">
            <label for="password" th:text="#{password}"></label>
            <input type="password"
                   class="form-control"
                   id="password"
                   th:field="*{password}"
                   th:errorclass="is-invalid"
                   th:placeholder="#{password}">
            <span class="bg-danger" th:text="#{invalidPassword}"></span>
        </div>

        <!--CONFIRM PASSWORD-->
        <div class="form-group mb-2">
            <label for="password" th:text="#{confirmPassword}"></label>
            <input type="password"
                   class="form-control is-invalid"
                   id="confirmPassword"
                   th:field="*{confirmPassword}"
                   th:errorclass="is-invalid"
                   th:placeholder="#{retype}">
            <span class="bg-danger" th:text="#{invalidConfirmPassword}"></span>
        </div>

        <!--FIRST NAME-->
        <div class="form-group mb-2">
            <label for="firstName" th:text="#{firstName}"></label>
            <input
                   id="firstName"
                   class="form-control "
                   th:field="*{firstName}"
                   th:errorclass="is-invalid"
                   th:placeholder="#{yourFirstName}">
            <span class="bg-danger" th:text="#{invalidName}"></span>
        </div>

        <!--LAST NAME-->
        <div class="form-group mb-2">
            <label for="lastName" th:text="#{lastname}"></label>
            <input
                   id="lastName"
                   class="form-control "
                   th:field="*{lastName}"
                   th:errorclass="is-invalid"
                   th:placeholder="#{yourLastName}">
            <span class="bg-danger" th:text="#{invalidName}"></span>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{register}"></button>
    </form>
</main>

<footer th:replace="fragments/commons::footer">
</footer>

<th:block th:replace="fragments/commons::scripts">
</th:block>

</body>
</html>